<ul class="nav nav-pills my-3" style="max-width:34rem;">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" href="#" aria-current="page" data-bs-toggle="pills" data-bs-target="#all-events" type="button" role="tab">All Events</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#" data-bs-toggle="pills" data-bs-target="#future-events" type="button" role="tab">Future Events</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#" data-bs-toggle="pills" data-bs-target="#past-events" type="button" role="tab">Past Events</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#" data-bs-toggle="pills" data-bs-target="#attended-events" type="button" role="tab">Attended Events</a>
  </li>
</ul>
