<%= render "layouts/navbar" %>

<div class="container my-5">

  <div class="card">
    <div class="card-header pb-0">
      <h2>Create Event</h2>
    </div>

    <div class="card-body">
      <%= render 'form', event: @event %>
    </div>
  </div>

</div>
